name: meili_flutter_example
description: Demonstrates how to use the meili_flutter plugin.
version: 0.1.0+1
publish_to: none

environment:
    sdk: ^3.4.0

dependencies:
    flutter:
        sdk: flutter
    meili_flutter:
        # When depending on this package from a real application you should use:
        #   meili_flutter: ^x.y.z
        # See https://dart.dev/tools/pub/dependencies#version-constraints
        # The example app is bundled with the plugin so we use a path dependency on
        # the parent directory to use the current plugin's version.
        path: ../

dev_dependencies:
    flutter_driver:
        sdk: flutter
    flutter_test:
        sdk: flutter
    integration_test:
        sdk: flutter
    very_good_analysis: ^6.0.0

flutter:
    uses-material-design: true
    assets:
        - fonts/
    fonts:
        - family: NunitoSans
          fonts:
              - asset: fonts/NunitoSans-Bold.ttf
              - asset: fonts/NunitoSans-ExtraBold.ttf
              - asset: fonts/NunitoSans-Regular.ttf
              - asset: fonts/NunitoSans-SemiBold.ttf
              - asset: fonts/NunitoSans-Light.ttf
        - family: RobotoFlex
          fonts:
              - asset: fonts/RobotoFlex.ttf
        - family: Roboto
          fonts:
              - asset: fonts/Roboto-Regular.ttf
